<mat-card>
  <mat-card-header>
    <mat-card-title>Przykładowe dane</mat-card-title>
    <mat-card-subtitle>Odśwież dane</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="loadData()">Wczytaj</button>
  </mat-card-actions>
</mat-card>
