<mat-grid-list cols="4" rows="4" [rowHeight]='"fit"'>
  <mat-grid-tile [colspan]="3" [rowspan]="4">
    <mat-card class="camera">
      <mat-card-header>
        <mat-card-title>Wirtualna kamera</mat-card-title>
        <mat-card-subtitle>Podstawowe operacje - zoom, translacja, obroty</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <gk-canvas [data]="scene" [camera]="camera"></gk-canvas>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <gk-data-reader (dataChange)="loadData($event)" class="cardContent"></gk-data-reader>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <gk-zoom (zoom)="doZoom($event)" class="cardContent"></gk-zoom>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <gk-translation (translation)="doTranslation($event)" class="cardContent"></gk-translation>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <gk-rotation (rotation)="doRotation($event)" class="cardContent"></gk-rotation>
  </mat-grid-tile>
</mat-grid-list>
