<mat-card>
  <mat-card-header>
    <mat-card-title>Obrót</mat-card-title>
    <mat-card-subtitle>Skierowanie aparatu w wyb. kierunku</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button color="primary" (click)="rotateIt(rotationType.LEFT)" class="rotation-button">L</button>
    <button mat-button color="primary" (click)="rotateIt(rotationType.RIGHT)" class="rotation-button">P</button>
    <button mat-button color="primary" (click)="rotateIt(rotationType.UP)" class="rotation-button">G</button>
    <button mat-button color="primary" (click)="rotateIt(rotationType.DOWN)" class="rotation-button">D</button>
    <button mat-button color="primary" (click)="rotateIt(rotationType.FORWARD)" class="rotation-button">Przód</button>
    <button mat-button color="primary" (click)="rotateIt(rotationType.BACKWARD)" class="rotation-button">Tył</button>
  </mat-card-actions>
</mat-card>


